name: Smoke Tests
on:
  workflow_dispatch:
  push:

jobs:
  klippy_testing:
    name: Klippy Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        klipper_repo:
          - klipper3d/klipper
          - DangerKlippers/danger-klipper
    steps: 
      - name: Checkout shaketune
        uses: actions/checkout@v4
        with:
          path: shaketune
      - name: Checkout Klipper
        uses: actions/checkout@v4
        with:
          path: klipper
          repository: ${{ matrix.klipper_repo }}
          ref: master
      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential gcc-avr avr-libc
      - name: Build klipper dict
        run: |
          pushd klipper
          cp ../shaketune/ci/smoke-test/klipper-smoketest.kconfig .config
          make olddefconfig
          make out/compile_time_request.o
          popd
      - name: Setup klippy env
        run: |
          python3 -m venv --prompt klippy klippy-env
          ./klippy-env/bin/python -m pip install -r klipper/scripts/klippy-requirements.txt
          ./klippy-env/bin/python -m pip install -r shaketune/requirements.txt
      - name: Install shaketune
        run: |
          ln -s $PWD/shaketune/shaketune $PWD/klipper/klippy/extras/shaketune
      - name: Klipper import test
        run: |
          ./klippy-env/bin/python klipper/klippy/klippy.py --import-test
      - name: Klipper integrated test
        run: |
          pushd klipper
          mkdir ../dicts
          cp ../klipper/out/klipper.dict ../dicts/atmega2560.dict
          ../klippy-env/bin/python scripts/test_klippy.py -d ../dicts ../shaketune/ci/smoke-test/klippy-tests/simple.test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          cache: 'pip'
      - name: install ruff
        run: |
          pip install ruff
      - name: run ruff tests
        run: |
          ruff check

      
